h1 {
    text-align: center;
    font-size: 2rem;
}

#submitButton {
    margin-top: 20px;
}

.btn-sm{
  padding: 5px 10px;
  font-size: 18px; 
  border-radius: 5px;
  border: none;
  background-color: #ff0000;
  color: white;
  cursor: pointer;
}

#myCheckbox {
    margin-left: 30px;
}
